:root{ 
    --theme-blue: #3939f8;
    --theme-green:#19d19b;
    --theme-dark: #010133;
    --theme-white: #FFFFFF;
}

.navigation{ 
    background-image: url("../img/header_img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.btn-estimate {
    font-size: 20px;
    padding: 5px 20px;
    background-color: var(--theme-white);
    border: solid 1px var(--theme-dark);
    border-radius: 25px;
}

.welcome_section{ 
    padding: 70px 0px;
}

.welcome_section h1{ 
    color: var(--theme-blue);
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 
}

.welcome_section p{ 
    font-size: 12px;
    line-height: 1.5;
    font-weight: bold;
}

.chat_box{ 
    padding: 60px;
    justify-content: flex-end;
}

.chat_btn{ 
    background-color: var(--theme-green);
    border-radius: 50%;
    padding: 10px;
    border: 0;
    height: 80px;
    width: 80px;
}

.what__business{ 
    margin-top: 4rem;
}

.what__business h2{ 
    color: var(--theme-dark);
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 3rem;
}

.form__section{ 
    margin-top: 4rem;
}

.form__section-header h2{ 
    color: var(--theme-dark);
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 1rem;
    font-family: Gelion;
    letter-spacing: 1px;
}

.form__section-header p{
    color: var(--theme-dark);
    font-size: 20px;
    margin-bottom: 3rem;
    font-family: HelveticaNeue;
}

.form__section-form{ 
    margin-top: 2rem;
}

.form__section-form .form-group{
    color: var(--theme-blue);
}

.form__section-form .form-control {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: var(--theme-blue);
    border-radius: 0px;
}

.form__section-form p {
    color: var(--theme-dark);
    font-size: 20px;
    margin-bottom: 1rem;
}

.form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.25rem;
}

.form__section-form button {
    margin-top: 2rem;
    font-size: 20px;
    padding: 10px 40px;
    background-color: var(--theme-green);
    color: var(--theme-white);
    border: solid 1px var(--theme-green);
    border-radius: 5px;
}

.footer__section {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    background-color: #020234;
    padding: 40px 0;
}