:root{ 
    --theme-blue: #3939f8;
    --theme-green:#19d19b;
    --theme-dark: #010133;
    --theme-white: #FFFFFF;
    --theme-grey:  #dbdbe2;
}

.navigation{ 
    background-image: url("../img/header_img.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
}

.welcome_section{ 
    padding-top: 8rem;
}

.welcome_section h1{ 
    color: var(--theme-green);
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.welcome_section p{
    color: var(--theme-dark);
    font-size: 20px;
    font-weight: 600;
}

.chat_button{ 
    padding-left: 75rem;
    margin-top: 5rem;
}

.chat_btn {
    background-color: var(--theme-green);
    width: 80px;
    height: 80px;
    padding: 10px;
    border-radius: 50%;
    bottom: 4rem;
    box-shadow: 0 1px 5px 0 #b1b1b1;
}

.business__development{ 
    margin-top: 2rem;
}

.business__development h2{
    color:var(--theme-green);
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.business__development p{
    margin-bottom: 4rem;
    font-weight: 600;
}

.border-green{ 
    border-color: var(--theme-green);

}

[class*="col-md-4"]:first-child {
    border-radius: 20px 0 0 0;
    background-color: var(--theme-green);
    color: var(--theme-white);
}

[class*="col-md-"]{
    padding-top: 40px;
    padding-bottom: 20px;
}

[class*="col-md-"] h4{
    padding-top: 1rem;
} 

[class*="col-md-"]:nth-child(3) {
    border-radius: 0 20px 0 0;
}

[class*="col-md-"]:nth-child(4) {
    border-radius: 0 0 0 20px;
}

[class*="col-md-"]:last-child{
    border-radius: 0 0 20px 0;
}

.footer__section{ 
    margin-top: 3rem;
    background-color: #020234;
    padding: 50px 0;
}